.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: #688395;
	border-radius: 4px 4px 0 0;
	text-align: left;
}
.form-daterange {
	float: left;
	width: 100%;
	padding-top: 25px;
}

.form-daterange h3 { 
	margin-top: 0; 
	color: #fff; 
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { 
	margin-top: 0; 
	color: #fff; 
}

.form-top-left h4 { 
	margin-top: 0; 
	color: #fff; 
}

.form-top-left p {
	opacity: 0.8;
	color: #fff;
}
.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: #6A889E;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}
