body {
padding-top: 100px;
}
footer {
padding-top: 70px;
}
textarea {
resize: none;
}
select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 #888;
}
a {
outline: none;
}
a:focus {
outline: none;
}
a:hover {
cursor: pointer;
}
hr {
background-color: #999;
height: 1px;
}
.mrgbot20 {
margin-bottom: 20px;
}
.custom-href {
color: #07e9f9;
}
.custom-href:hover {
color: #07e9f9;
}
.readonly-bg-custom {
background: #FFF !important;
}
.white-text {
color: #FFF;
}
.modal-dialog {
margin-top: 70px;
}
.list-group-item.active {
background-color: #5BC0DE;
border-color: #5BC0DE;
}
.list-group-item.active:hover {
background-color: #5BC0DE;
border-color: #5BC0DE;
opacity: 0.9;
}
.search-button-custom {
background: #19AFFF;
color: #FFF !important;
border-color: #19AFFF;
}
.search-input-custom {
color: #888;
transition: all .1s;
border-bottom-right-radius: 5px !important;
border-top-right-radius: 5px !important;
}
.search-input-custom:focus {
border: 3px solid #19AFFF;
}
.pagination > li > a{
color: #19AFFF;
}
.pagination > li > a:focus,
.pagination > li > a:hover{
color: #19AFFF;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
background-color: #19AFFF;
border-color: #19AFFF;
}
select:required:invalid {
  color: #999;
}
