/*NAVBAR CUSTOM */
.nav-custom-bg-color {
	background: #688395;
	border: none;
}
.nav-custom-text-color {
	color: #FFF !important;
}
.nav-custom-text-color:hover {
	color: #EEE !important;
}
.dropdown-menu-custom {
	background: #FFF;
	border: none;
}
.dropdown-list-custom {
	color: #2C3E50 !important;
}
.dropdown-list-custom:hover {
	background: #F5F5F5 !important;
}
.dropdown-toggle-custom {
	color: #FFF !important;
}
.dropdown-toggle-custom:hover {
	color: #EEE !important;
}
.dropdown-toggle-custom:focus {
	color: #FFF !important;
}
.open > a { /* dropdown-toggle-custom background color*/
	background: #6A889E !important;
}
.navbar-toggle-custom {
	border-color: #FFF !important;
	color: #FFF !important;
}
.navbar-toggle-custom:hover {
	background: #6A889E !important;
}
.navbar-toggle-custom:focus {
	background: #6A889E !important;
}